{% extends 'blog/base.html' %}
{% block content %}

    {% for posts in posts %}
        <article class="media content-section">
            {% if posts.image %}
                <img class="article-img rounded" src="{{ posts.image.url }}" alt="post image" style="object-fit: cover;">
            {% else %}
                <img class="rounded-circle article-img" src="{{ posts.author.profile.image.url }}" alt="">
            {% endif %}
            <div class="media-body">
              <div class="article-metadata">
                <a href="#">{{ posts.author }}</a>
                <small class="text-muted">{{ posts.date_posted }}</small>
              </div>
              <h2 style="font-size: 1.4rem; font-weight: 600;"><a class="article-title" href="{% url 'blog-detail' posts.id %}">{{ posts.title }}</a></h2>
              <p class="article-content">{{ posts.content|truncatewords:30 }}</p>
            </div>
            <br>
          </article>
    {% endfor  %}
{% endblock content %}
